<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add connectionString="server=localhost;uid=SalasmaUx2uy;pwd=&quot;[]a=l%tg*Jin&quot;;Database=Salasma" name="Salasma" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\Users\DELL\Documents\My Web Sites\EmptySite5\logs\system.log"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>